
<div ><span>name:<input [(ngModel)]="newbook.name"type="text"></span>
<br><br>
<span>auditor:<input [(ngModel)]="newbook.auditor" type="text"></span>
<br><br>
<span>category:<input [(ngModel)]="newbook.category"type="text"></span>
<br><br>
<span>publishingYear:<input [(ngModel)]="newbook.publishingYear"type="number"></span>
<br><br>
<span>sumOfLending:<input [(ngModel)]="newbook.sumOfLending"type="number"></span>
<br><br>
<button (click)="addnewbook()">עדכון</button></div><br>


<!--[(ngModel)]="newbook.name"
[(ngModel)]="newbook.auditor"
[(ngModel)]="newbook.category"
[(ngModel)]="newbook.publishingYear"
[(ngModel)]="newbook.sumOfLending"-->
